/*
##############
OVERALL-STYLES
##############
*/

:root {
  --primary-clr: blanchedalmond;
  --secondary-clr: #deb887;
  --highlight-clr: rgb(91, 148, 113);
}

/* 
############
PROFILE PIC
############
*/
