@import "./style_components.css";
@import "./style_peripheral-sites.css";
@import url("https://fonts.googleapis.com/css2?family=Glory:wght@300&display=swap");
/* Night modus still to be defined*/

/*
##############
OVERALL-STYLES
##############
*/

:root {
  --primary-clr: #ffebcd;
  --secondary-clr: #deb887;
  --highlight-clr: rgb(91, 148, 113);
  --hover-clr-highlight: rgb(69, 117, 88);
  --hover-clr-regular: #e09e48;
}

body {
  box-sizing: border-box;
  background-color: var(--primary-clr);
  font-family: "Glory", sans-serif;
}

/*
########
HEADER
########
*/

.title-box {
  background-color: var(--primary-clr);
  position: fixed;
  width: 100vw;
  height: 7em;
  top: 0px;
  left: 0px;
}

.app-title {
  width: 85vw;
  background-color: var(--secondary-clr);
  border-style: dotted;
  border-color: var(--primary-clr);
  padding: 0.5em;
  left: 1em;
  color: blanchedalmond;
  text-shadow: 2px 2px grey;
  text-align: center;
  position: fixed;
  z-index: 10;
}

h1#page-one::before {
  content: "📚 ";
}

h1#page-two::before {
  content: "💡 ";
}

h1#page-three::before {
  content: "🙌🏼 ";
}

h1#page-four::before {
  content: "👩🏼 ";
}

/*
#########
FOOTER
#########
*/

nav {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 3em;
  left: 0px;
  bottom: 0px;
  background-color: var(--secondary-clr);
}

nav a {
  padding: 0.3em;
}

nav a:link {
  color: currentColor;
}

/*  How to set size? Why do they come out in different colors? */
.material-icons {
  display: inline-block;
  filter: invert(85%) sepia(26%) saturate(255%) hue-rotate(345deg)
    brightness(105%) contrast(102%);
}

a:hover {
  background-color: var(--hover-clr-regular);
  border-radius: 50%;
  transition-timing-function: ease-in;
  transition-duration: 0.5s;
}

nav i.material-icons:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}
