:root {
  --primary-clr: #ffebcd;
  --secondary-clr: #deb887;
  --highlight-clr: rgb(91, 148, 113);
  --hover-clr-highlight: rgb(69, 117, 88);
  --hover-clr-regular: #e09e48;
}

main {
  margin-top: 112px;
}

/*
#################
QESTION CARD BOX
#################
*/

section#content-area-question-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

article {
  background-color: var(--highlight-clr);
  color: var(--primary-clr);
  border-radius: 12px;
  width: 80vw;
  left: 1em;
  min-width: 20px;
  padding: 1em;
  margin: 0.2em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

h1.question {
  font-size: 24px;
  color: var(--secondary-clr);
  margin-top: 0px;
}

p.question,
p.answer {
  top: -10px;
  left: 15px;
}

/*
##########
TAG AREA
##########
*/

/* Why is alignment not working? */
.tag-area a {
  background-color: var(--primary-clr);
  border-radius: 12px;
  border-color: transparent;
  padding: 5px;
  margin: 10px;
  align-self: center;
  color: var(--highlight-clr);
  font-size: 0.7em;
}

/* Hover doesn't work - why?*/

a:hover {
  border-color: var(--hover-clr-regular);
  transition-duration: 0.5s;
}

/*
########
BUTTONS
########
*/

.action-btn {
  background-color: var(--secondary-clr);
  border-radius: 12px;
  border-color: transparent;
  padding: 10px;
  margin: 20px;
  align-self: center;
  color: var(--highlight-clr);
  font-size: 1em;
}

.action-btn:hover {
  border-color: var(--hover-clr-regular);
  transition-timing-function: ease-in;
  transition-duration: 0.5s;
}

.logout-btn {
  background-color: var(--highlight-clr);
  border-radius: 12px;
  border-color: transparent;
  padding: 10px;
  align-self: center;
  color: var(--primary-clr);
  font-size: 1em;
  align-self: center;
}

.logout-btn:hover {
  background-color: var(--hover-clr-highlight);
  transition-timing-function: ease-in;
  transition-duration: 0.5s;
}
